@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}

.gradient-text {
  @apply bg-gradient-to-r from-green-400 to-orange-500 text-transparent bg-clip-text;
}
